<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lxcs.mybatis.mapper.auto.CMHolidayMapper" >
  <resultMap id="BaseResultMap" type="com.lxcs.mybatis.bean.auto.CMHoliday" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="holiday_name" property="holidayName" jdbcType="VARCHAR" />
    <result column="holiday_start_time" property="holidayStartTime" jdbcType="VARCHAR" />
    <result column="holiday_end_time" property="holidayEndTime" jdbcType="VARCHAR" />
    <result column="create_date" property="createDate" jdbcType="VARCHAR" />
    <result column="create_user_id" property="createUserId" jdbcType="VARCHAR" />
    <result column="update_date" property="updateDate" jdbcType="VARCHAR" />
    <result column="update_user_id" property="updateUserId" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, holiday_name, holiday_start_time, holiday_end_time, create_date, create_user_id, 
    update_date, update_user_id
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.lxcs.mybatis.bean.auto.CMHolidayExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from c_m_holiday
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limitStart >= 0" >
      limit #{limitStart} , #{limitEnd}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from c_m_holiday
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from c_m_holiday
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.lxcs.mybatis.bean.auto.CMHolidayExample" >
    delete from c_m_holiday
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.lxcs.mybatis.bean.auto.CMHoliday" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into c_m_holiday (holiday_name, holiday_start_time, holiday_end_time, 
      create_date, create_user_id, update_date, 
      update_user_id)
    values (#{holidayName,jdbcType=VARCHAR}, #{holidayStartTime,jdbcType=VARCHAR}, #{holidayEndTime,jdbcType=VARCHAR}, 
      #{createDate,jdbcType=VARCHAR}, #{createUserId,jdbcType=VARCHAR}, #{updateDate,jdbcType=VARCHAR}, 
      #{updateUserId,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.lxcs.mybatis.bean.auto.CMHoliday" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into c_m_holiday
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="holidayName != null" >
        holiday_name,
      </if>
      <if test="holidayStartTime != null" >
        holiday_start_time,
      </if>
      <if test="holidayEndTime != null" >
        holiday_end_time,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="createUserId != null" >
        create_user_id,
      </if>
      <if test="updateDate != null" >
        update_date,
      </if>
      <if test="updateUserId != null" >
        update_user_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="holidayName != null" >
        #{holidayName,jdbcType=VARCHAR},
      </if>
      <if test="holidayStartTime != null" >
        #{holidayStartTime,jdbcType=VARCHAR},
      </if>
      <if test="holidayEndTime != null" >
        #{holidayEndTime,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=VARCHAR},
      </if>
      <if test="createUserId != null" >
        #{createUserId,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null" >
        #{updateDate,jdbcType=VARCHAR},
      </if>
      <if test="updateUserId != null" >
        #{updateUserId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.lxcs.mybatis.bean.auto.CMHolidayExample" resultType="java.lang.Integer" >
    select count(*) from c_m_holiday
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update c_m_holiday
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.holidayName != null" >
        holiday_name = #{record.holidayName,jdbcType=VARCHAR},
      </if>
      <if test="record.holidayStartTime != null" >
        holiday_start_time = #{record.holidayStartTime,jdbcType=VARCHAR},
      </if>
      <if test="record.holidayEndTime != null" >
        holiday_end_time = #{record.holidayEndTime,jdbcType=VARCHAR},
      </if>
      <if test="record.createDate != null" >
        create_date = #{record.createDate,jdbcType=VARCHAR},
      </if>
      <if test="record.createUserId != null" >
        create_user_id = #{record.createUserId,jdbcType=VARCHAR},
      </if>
      <if test="record.updateDate != null" >
        update_date = #{record.updateDate,jdbcType=VARCHAR},
      </if>
      <if test="record.updateUserId != null" >
        update_user_id = #{record.updateUserId,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update c_m_holiday
    set id = #{record.id,jdbcType=INTEGER},
      holiday_name = #{record.holidayName,jdbcType=VARCHAR},
      holiday_start_time = #{record.holidayStartTime,jdbcType=VARCHAR},
      holiday_end_time = #{record.holidayEndTime,jdbcType=VARCHAR},
      create_date = #{record.createDate,jdbcType=VARCHAR},
      create_user_id = #{record.createUserId,jdbcType=VARCHAR},
      update_date = #{record.updateDate,jdbcType=VARCHAR},
      update_user_id = #{record.updateUserId,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.lxcs.mybatis.bean.auto.CMHoliday" >
    update c_m_holiday
    <set >
      <if test="holidayName != null" >
        holiday_name = #{holidayName,jdbcType=VARCHAR},
      </if>
      <if test="holidayStartTime != null" >
        holiday_start_time = #{holidayStartTime,jdbcType=VARCHAR},
      </if>
      <if test="holidayEndTime != null" >
        holiday_end_time = #{holidayEndTime,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=VARCHAR},
      </if>
      <if test="createUserId != null" >
        create_user_id = #{createUserId,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null" >
        update_date = #{updateDate,jdbcType=VARCHAR},
      </if>
      <if test="updateUserId != null" >
        update_user_id = #{updateUserId,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lxcs.mybatis.bean.auto.CMHoliday" >
    update c_m_holiday
    set holiday_name = #{holidayName,jdbcType=VARCHAR},
      holiday_start_time = #{holidayStartTime,jdbcType=VARCHAR},
      holiday_end_time = #{holidayEndTime,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=VARCHAR},
      create_user_id = #{createUserId,jdbcType=VARCHAR},
      update_date = #{updateDate,jdbcType=VARCHAR},
      update_user_id = #{updateUserId,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>