<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lxcs.mybatis.mapper.ext.ExtDepartmentMapper">
    <resultMap id="ResultMap" type="com.lxcs.mybatis.bean.ext.ExtDepartmentModel">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="department_cd" property="departmentCd" jdbcType="VARCHAR"/>
        <result column="department_name" property="departmentName" jdbcType="VARCHAR"/>
        <result column="department_p_cd" property="departmentPCd" jdbcType="VARCHAR"/>
        <result column="department_ip" property="departmentIp" jdbcType="VARCHAR"/>
        <result column="department_ip_saipu" property="departmentIpSaipu" jdbcType="VARCHAR"/>
        <result column="city_area" property="cityArea" jdbcType="VARCHAR"/>
        <result column="status" property="status" jdbcType="VARCHAR"/>
        <result column="sort_key" property="sortKey" jdbcType="INTEGER"/>
        <result column="del_flag" property="delFlag" jdbcType="VARCHAR"/>
        <result column="save_path" property="savePath" jdbcType="VARCHAR"/>
        <result column="user_cnt" property="userCnt" jdbcType="VARCHAR"/>
    </resultMap>
    <select id="selectDepartment" resultMap="ResultMap"
            parameterType="com.lxcs.mybatis.bean.ext.ExtDepartmentModel">
      SELECT * from (  SELECT
            d.id,
            d.department_cd,
            d.department_name,
            d.department_p_cd,
            d.department_ip,
            d.department_ip_saipu,
            d.city_area,
            d.`status`,
            d.sort_key,
            d.del_flag
        FROM
            c_m_department d
        WHERE
          	d.del_flag = '0'
        <if test="id != null and id != ''">
            AND d.id = #{id, jdbcType=VARCHAR}
        </if>
        <if test="departmentCd != null and departmentCd != ''">
            AND d.department_cd = #{departmentCd, jdbcType=VARCHAR}
        </if>
        <if test="departmentPCd != null and departmentPCd != ''">
            AND d.department_p_cd = #{departmentPCd, jdbcType=VARCHAR}
        </if>
        <if test="departmentOrCd != null and departmentOrCd != ''">
            AND (d.department_p_cd=#{departmentOrCd, jdbcType=VARCHAR} or
              		d.department_cd = #{departmentOrCd, jdbcType=VARCHAR} 
              	)
        </if>
        UNION ALL
			SELECT
				cmd.id,
				cmd.department_cd,
				cmd.department_name,
				cmd.department_p_cd,
				cmd.department_ip,
			 	cmd.department_ip_saipu,
			 	cmd.city_area,
				cmd.`status`,
				cmd.sort_key,
				cmd.del_flag
			FROM
				c_m_department d
			LEFT JOIN c_m_department cmd ON cmd.department_p_cd=d.department_cd
			WHERE
				d.del_flag = '0' AND cmd.del_flag = '0'
		  	<if test="id != null and id != ''">
	            AND d.id = #{id, jdbcType=VARCHAR}
	        </if>
	        <if test="departmentCd != null and departmentCd != ''">
	            AND d.department_cd = #{departmentCd, jdbcType=VARCHAR}
	        </if>
	        <if test="departmentPCd != null and departmentPCd != ''">
	            AND d.department_p_cd = #{departmentPCd, jdbcType=VARCHAR}
	        </if>
		    <if test="departmentOrCd != null and departmentOrCd != ''">
	         AND d.department_p_cd =#{departmentOrCd, jdbcType=VARCHAR}
	        </if>
       ) aa
	GROUP BY aa.department_cd
	ORDER BY
		aa.sort_key  asc
    </select>

    <select id="selectDepartmentWithUserCnt" resultMap="ResultMap"
            parameterType="com.lxcs.mybatis.bean.ext.ExtDepartmentModel">
        SELECT
        d.id,
        d.department_cd,
        d.department_name,
        d.department_p_cd,
        d.`status`,
        d.sort_key,
        d.del_flag,
        a.save_path,
        (select count(*) from c_m_department_user du where du.department_cd = d.department_cd and du.del_flag = '0') as user_cnt
        FROM
        c_m_department d
        LEFT JOIN c_t_attachment a ON d.department_cd = a.file_id
        WHERE
        d.del_flag = '0'
        <if test="id != null and id != ''">
            AND d.id = #{id, jdbcType=VARCHAR}
        </if>
        <if test="departmentCd != null and departmentCd != ''">
            AND d.department_cd = #{departmentCd, jdbcType=VARCHAR}
        </if>
        <if test="departmentPCd != null and departmentPCd != ''">
            AND d.department_p_cd = #{departmentPCd, jdbcType=VARCHAR}
        </if>
        <if test="departmentName != null and departmentName != ''">
            AND d.department_name like CONCAT('%',#{departmentName},'%')
        </if>
        ORDER BY
        sort_key
    </select>

    <resultMap id="ResultSelectUserDepartmentListMap" type="com.lxcs.mybatis.bean.ext.ExtUserDepartmentModel">
        <result column="department_cd" property="departmentCd" jdbcType="VARCHAR"/>
        <result column="department_name" property="departmentName" jdbcType="VARCHAR"/>
        <result column="department_p_cd" property="departmentPCd" jdbcType="VARCHAR"/>
        <result column="department_p_name" property="departmentPName" jdbcType="VARCHAR"/>
        <result column="department_top_cd" property="departmentTopCd" jdbcType="INTEGER"/>
        <result column="department_top_name" property="departmentTopName" jdbcType="VARCHAR"/>
    </resultMap>
    <select id="selectUserDepartmentList" resultMap="ResultSelectUserDepartmentListMap" parameterType="java.lang.String">
        SELECT
          d1.department_cd AS department_cd,
          d1.department_name AS department_name,
          d2.department_cd AS department_p_cd,
          d2.department_name AS department_p_name,
          d3.department_cd AS department_top_cd,
          d3.department_name AS department_top_name
        FROM
          c_m_department_user du
        LEFT JOIN c_m_department d1 ON du.department_cd = d1.department_cd AND d1.del_flag = '0'
        LEFT JOIN c_m_department d2 ON d1.department_p_cd = d2.department_cd AND d1.del_flag = '0'
        LEFT JOIN c_m_department d3 ON d2.department_p_cd = d3.department_cd AND d2.del_flag = '0'
        WHERE
          d1.del_flag = '0'
        AND du.user_id = #{userId, jdbcType=VARCHAR}
    </select>
</mapper>